<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="FirebirdSql.Data.FirebirdClient" version="5.12.0" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net47" />
  <package id="NET.FirebirdDatabase" version="2017.11.27.3" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="TraceLogger" version="2017.11.30.1" targetFramework="net47" />
</packages>